version: "3.9"

services:
  hyperlane-run-locally:
    build:
      context: ./
      dockerfile: Dockerfile.run-locally
      args:
        HYPERLANE_REPO: ${HYPERLANE_REPO}
        HYPERLANE_REF: ${HYPERLANE_REF}
    image: hyperlane-run-locally
    environment:
      - E2E_CI_MODE=${E2E_CI_MODE}
      - E2E_CI_TIMEOUT_SEC=${E2E_CI_TIMEOUT_SEC}
      - E2E_KATHY_MESSAGES=${E2E_KATHY_MESSAGES}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - hyperlane-logs:/tmp/test_logs

volumes:
  hyperlane-logs:
